.accordion-group {
    .accordion {
        padding: 20px;
        margin-bottom: 30px;
        background-color: white;
        border-radius: 6px;
        cursor: pointer;

        &:last-child {
            margin-bottom: 0;
        }

        .accordion-head {
            position: relative;
            padding-right: 24px;

            .title {
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                color: #2E384D;
                margin-bottom: 5px;
            }

            .sub-title {
                font-weight: bold;
                font-size: 14px;
                line-height: 22px;
            }

            .chevron {
                position: absolute;
                top: 0;
                right: 0;
                width: 24px;
                height: 24px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url('../icons/chevron-down.svg');
                transition: all 0.3s;
            }
        }

        .accordion-body {
            max-height: 0;
            transition: all 1s ;
            overflow: hidden;
            p {
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
                color: #2E384D;
                margin-bottom: 22px;

                &:first-child {
                    margin-top: 20px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &.expanded {

            .chevron {
                transform: rotate(180deg);
            }

            .accordion-body {
                max-height: 1000px;
            }
        }
    }
}