.client-info {
    &-head {
        margin-bottom: 10px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        .image {
            width: 53px;
            height: 53px;
            flex-shrink: 0;
            flex-grow: 0;
            border-radius: 50% 50%;

            &-wrapper {
                border-radius: 50% 50%;
                border: 2px solid #4259C2;
                width: 61px;
                height: 61px;
                flex-shrink: 0;
                flex-grow: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .text {
            display: flex;
            flex-flow: column nowrap;
            margin-left: 30px;

            .name {
                margin-bottom: 5px;
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                color: #2E384D;
            }

            .from {
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 1.125px;
                text-transform: uppercase;
                color: #8798AD;
            }
        }
    }

    &-body {
        p {
            font-weight: 500;
            font-size: 14px;
            line-height: 32px;
            margin: 0;
            color: #2E384D;

            &.small {
                font-size: 13px;
            }

            strong {
                font-weight: bold;
            }
        }

        .row {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }
    }
}