.client {
    .info {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        .image {
            width: 134px;
            height: 134px;
            flex-shrink: 0;
            flex-grow: 0;
            border-radius: 50% 50%;

            &-wrapper {
                border-radius: 50% 50%;
                border: 2px solid #4259C2;
                width: 138px;
                height: 138px;
                flex-shrink: 0;
                flex-grow: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .text {
            margin-left: 15px;

            .name {
                margin-bottom: 16px;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 32px;
            }

            .about {
                font-style: italic;
                font-weight: 600;
                font-size: 18px;
                line-height: 23px;
                color: #1F3781;
            }
        }
    }
    .description {
        margin-top: 25px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
    }
}