.enroll-card {
    padding: 20px 20px 25px;
    background-color: white;
    border-radius: 6px;
    margin-bottom: 20px;

    img {
        height: 100%;
        max-height: 290px;
        width: auto;
        margin: auto;
        display: block;
        box-shadow: 0px 2px 10px rgba(31, 55, 129, 0.317253);
    }

    .text {
        margin-top: 30px;
        .title {
            font-weight: bold;
            font-size: 23px;
            line-height: 32px;
        }

        .sub-title {
            margin-top: 10px;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
        }
    }

    &--row {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        img {
            width: 100%;
            max-width: 115px;
            height: auto;
        }

        .text {
            margin-left: 25px;
            margin-top: 0;

            .title {
                font-size: 24px;
            }
        }
    }
}