.green-numbers {
    p {
        text-align: center;
        margin-bottom: 35px;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: #207E1C;

        span {
            font-weight: bold;
            display: block;
            font-size: 36px;
            line-height: 32px;
            text-align: center;
            color: #207E1C;
        }
    }
}