.header {
    padding: 60px 0 40px;

    @include tablet {
        padding: 15px 0 30px;
    }

    .wrapper {
        position: relative;
    }

    .back {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 24px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url('../icons/back.svg');
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    .logo {
        display: block;
        width: 156px;
        height: 40px;
        cursor: pointer;
        background-image: url('../icons/logo.png');
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;

        @include tablet {
            width: 127px;
            height: 32px;
            margin: auto;
        }
    }

    .page {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 24px;
        font-family: $questrial;
        font-size: 22px;
        line-height: 32px;
    }

    .burger-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 24px;
        width: 18px;
        height: 18px;
        flex-flow: column nowrap;
        justify-content: space-between;
        cursor: pointer;
        display: none;

        @include tablet {
            display: flex;
        }

        span {
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: #4259C2;
        }
    }
}