.numbered-icons {
    .icon {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-bottom: 50px;

        i {
            width: 85px;
            height: 85px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            margin-bottom: 15px;
        }

        .title {
            margin-bottom: 15px;
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
        }

        .sub-title {
            font-weight: normal;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            margin-bottom: 0;
        }
    }
}