.numbered-blocks {

    .block {
        padding: 25px 20px 20px;
        margin-bottom: 50px;
        border-radius: 6px;
        background-color: white;
        overflow: hidden;
        position: relative;
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 4px;
            background-color: #1F3781;
        }

        span {
            display: block;
            font-weight: bold;
            font-size: 20px;
            line-height: 32px;
            color: #2E384D;
        }
    }
}