.orange-badge {
    padding: 10px 15px;
    width: 210px;
    margin: auto;
    background: #F59145;
    border: 1px solid rgba(176, 186, 201, 0.1);
    border-radius: 6px;

    .title {
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;
    }

    .sub-title {
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
    }
}