#footer-0 {
    padding: 150px 0 100px;

    @include tablet {
        padding: 40px 0;
    }

    .wrapper {
        .footer-container {
            border-top: 2px solid #979797;

            @include tablet {
                border: none;
            }

            .question {
                margin-top: 70px;
                font-weight: bold;
                font-size: 34px;
                line-height: 32px;
                text-align: center;

                @include tablet {
                    text-align: left;
                    margin-top: 0;
                }
            }

            .socials {
                margin-top: 40px;

                p {
                    font-size: 24px;
                    line-height: 32px;
                    text-align: center;
                    @include tablet {
                        text-align: left;
                    }
                }

                .icons {
                    margin-top: 10px;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;

                    @include tablet {
                        justify-content: unset;
                    }

                    .social {
                        width: 24px;
                        height: 24px;
                        display: block;
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center center;
                        cursor: pointer;
                        margin-right: 24px;

                        &:last-child {
                            margin-right: 0;
                        }

                        &.fb {
                            background-image: url('../icons/fb.svg');
                        }

                        &.ig {
                            background-image: url('../icons/ig.svg');
                        }
                    }
                }
            }

            .links {
                margin-top: 50px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;

                @include tablet {
                    margin-top: 40px;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: unset;
                }

                .footer-link {
                    padding: 0 10px;
                    font-size: 16px;
                    line-height: 29px;
                    letter-spacing: 0.6px;
                    color: #8798AD;

                    @include tablet {
                        padding: 10px 0;

                        &:first-child {
                            padding-top: 0;
                        }

                        &:last-child {
                            padding-top: 0;
                        }
                    }
                }
            }
        }
    }
}