#header-0 {
    padding: 60px 0 40px;

    @include tablet {
        padding: 15px 0 40px;
    }

    .logo {
        display: block;
        width: 156px;
        height: 40px;
        cursor: pointer;
        background-image: url('../icons/logo.png');
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;

        @include tablet {
            width: 127px;
            height: 32px;
            margin: auto;
        }
    }
}