.product-card {
    background-color: #FFFFFF;
    border: 1px solid rgba(176, 186, 201, 0.1);
    border-radius: 6px;
    max-width: 290px;
    width: calc(100% - 40px);
    position: relative;
    padding: 55px 20px 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: auto;

    @include tablet {
        margin-top: 25px;
    }

    &:before {
        background-color: #EDB098;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        top: 0;
        left: 0;
        right: 0;
        height: 15px;
        content: '';
        display: block;
        position: absolute;
    }

    &-head {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, calc(-50% + 7.5px));
        background: #F59145;
        border: 1px solid rgba(176, 186, 201, 0.1);
        border-radius: 6px;
        padding: 10px 15px;

        .title {
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #FFFFFF;
            font-weight: bold;
            white-space: nowrap;
        }

        .sub-title {
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            color: #FFFFFF;
            white-space: nowrap;
            font-weight: 600;
        }
    }

    .one-time {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }
    .value {
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        margin-top: 5px;
        font-weight: bold;
    }

    .values {
        margin-bottom: 20px;
        margin-top: 16px;

        li {
            margin-bottom: 16px;
            font-size: 16px;
            line-height: 22px;
            font-weight: 500;

            .red {
                font-weight: 600;
                color: #F5141F;
                white-space: nowrap;
            }
        }
    }

    .save {
        background: rgba(245, 20, 31, 0.2);
        border: 1px solid rgba(176, 186, 201, 0.1);
        border-radius: 6px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        color: #F5141F;
        padding: 5px 15px;
    }

    .price {
        margin-top: 5px;
        font-style: normal;
        font-weight: bold;
        font-size: 54px;
        line-height: 1.37;
        text-align: center;

        span {
            font-size: 24px;
        }
    }

    .old-price {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
    }

    .btn {
        margin: 15px 0;
        width: 100%;
        padding: 12px 0;
        text-align: center;
    }

    .sub-text {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
    }
}