.questionnaire {
    padding-bottom: 40px;

    @include tablet {
        padding-bottom: 100px;
    }

    .btn.btn--secondary {
        margin-bottom: 15px;
        padding: 0 70px;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1.125px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        border-radius: 20px;

        &:last-child {
            margin-bottom: 0;

            @include tablet {
                margin-bottom: 15px;
            }
        }
    }

    &--situation {
        .btn.btn--secondary {
            height: auto;
            min-height: 40px;
            padding: 5px 10px;
            max-width: 360px;


            // TODO: Issprest. :D
            &.selected {
                margin: -1px auto 14px;

                &:last-child {
                    margin: -2.5px auto -1.5px;

                    @include tablet {
                        margin-bottom: 14px;
                    }
                }
            }
        }

        .situation-image {
            max-height: 360px;
            max-width: 360px;
            display: block;
            margin: 20px auto 40px;
            border-radius: 6px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);

            @media only screen and (max-width: calc(360px + 24px * 2)) {
                max-width: 100%;
            }
        }

        .situation {
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            color: #2E384D;

            strong {
                font-weight: bold;
            }
        }
    }

    &-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;

        @include tablet {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100px;
            border-top: 2px solid rgba(176, 186, 201, 0.1);
            box-sizing: border-box;
            background-color: #F6F6F8;
            padding: 0 24px;
        }
    }
}