.radio-group {
    margin-bottom: 5px;
    .group-label {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1.125px;
        text-transform: uppercase;
        color: #8798AD;
        margin-bottom: 15px;
    }

    .fieldset {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-bottom: 5px;

        .radio-container {
            width: calc(47.5% - 32px);
            margin-bottom: 35px;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.6px;
            color: #8798AD;
            display: block;
            position: relative;
            padding-left: 32px;
            cursor: pointer;
            user-select: none;
            transition: all 0.1s;

            &.checked {
                color: #4259C2;
            }

            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;

                &:checked ~ .checkmark {
                    border-color: #4259C2;
                }

                &:checked ~ .checkmark:after {
                    display: block;
                }
            }

            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 20px;
                width: 20px;
                border: 2px solid #8798AD;
                box-sizing: border-box;
                border-radius: 6px;
                transition: all 0.1s;

                &:after {
                    content: "";
                    position: absolute;
                    transform: translate(-50%, -50%);
                    display: none;
                    top: 50%;
                    left: 50%;
                    width: 12px;
                    height: 12px;
                    border-radius: 3px;
                    background-color: #4259C2;
                }

            }

            &:hover input ~ .checkmark {
                border-color: #5060d5;
            }

            &:hover {
                color: #5060d5;
            }
        }
    }
}