.range-slider {
    position: relative;
    margin-bottom: 30px;
    background: white;
    border: 1px solid rgba(176, 186, 201, 0.1);
    border-radius: 6px;
    padding: 15px 20px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        right: 0;
        background: #4259C2;
        height: 3px;
    }

    .title {
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: #4259C2;
        margin-bottom: 15px;
    }

    .slider-container {
        margin-bottom: 30px;

        .hour-container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            padding: 0 5px;
            margin-bottom: 10px;

            .hour {
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 1.125px;
                color: #4259C2;
                mix-blend-mode: normal;
                opacity: 0.6;

                &.active {
                    opacity: 1;
                }
            }
        }

        .divider-container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            padding: 0 13px;
            position: relative;

            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 30%;
                background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
            }

            .divider {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                width: 1px;
                height: 70px;

                span {
                    display: block;
                    width: 100%;
                    height: 3px;
                    background-color: #4259C2;
                }
            }

            .slider-wrapper {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                height: 6px;
                transform: translateY(-50%);

                &-input {
                    height: 100%;
                    -webkit-appearance: none;
                    appearance: none;
                    margin: 0;
                    width: 100%;
                    outline: none;
                    border-radius: 3px;
                    transform: translateY(calc(-100% - 1.5px));
                    background-image: linear-gradient(to right, #4259C2 0%, #4259C2 44%, #8C9DE6 44%, #8C9DE6 100%);
                    background-image: -webkit-gradient(linear,
                            left top,
                            right top,
                            color-stop(44%, #4259C2),
                            color-stop(44%, #8C9DE6));
                    background-image: -moz-linear-gradient(left center,
                            #4259C2 0%, #4259C2 44%,
                            #8C9DE6 44%, #8C9DE6 100%);

                    &::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        appearance: none;
                        cursor: pointer;
                        width: 26px;
                        height: 26px;
                        border-radius: 13px;
                        background-image: url('../icons/range.svg');
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center center;
                    }
                }
            }
        }
    }

    .numbers {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        .number-container {
            &:first-child {
                margin-right: 45px;
            }

            .title {
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                color: #4259C2;
                margin-bottom: 5px;
            }

            .number {
                font-family: $questrial;
                font-size: 29px;
                line-height: 32px;
                color: #2E384D;

                span.small {
                    font-size: 18px;
                }
            }
        }
    }
}