.slider {
    .swiper-container {
        padding-bottom: 20px;
        margin: 0 -24px;
        .swiper-wrapper {
            .swiper-slide {
                width: 300px;
                user-select: none;
                .slide-wrapper {
                    padding: 15px 15px 20px;
                    border-radius: 6px;
                    background-color: white;

                    .slide-head {
                        display: flex;
                        flex-flow: row nowrap;
                        margin-bottom: 20px;
                        align-items: center;

                        .image-wrapper {
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                            border: 2px solid #4259C2;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-grow: 0;
                            flex-shrink: 0;
                            margin: 0;

                            img {
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                            }
                        }

                        .text {
                            margin-left: 30px;

                            .name {
                                font-weight: bold;
                                font-size: 16px;
                                margin-bottom: 0;
                                line-height: 22px;
                            }

                            .position {
                                margin-bottom: 0;
                                font-weight: bold;
                                font-size: 12px;
                                line-height: 15px;
                                letter-spacing: 1.125px;
                                text-transform: uppercase;
                                color: #8798AD;
                            }
                        }
                    }

                    .slide-body {
                    }
                }
            }
        }
        & > .swiper-pagination {
            bottom: 0;

            & > .swiper-pagination-bullet {
                background-color: #4259C2;
                opacity: 0.6;
                &.swiper-pagination-bullet-active {
                    opacity: 1;
                }
            }
        }
    }
}