.timer {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 6px;
    overflow: hidden;
    padding: 7px 35px 10px;
    background-color: white;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        content: '';
        display: block;
        background-color: #1F3781;
        height: 3px;
    }

    .title {
        font-weight: bold;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        color: #F5141F;
    }

    .time {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        &-child {
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            color: #8798AD;

            span {
                font-weight: bold;
                font-size: 24px;
                line-height: 32px;
                text-align: center;
                color: #2E384D;
            }
        }
    }
}