.btn {
    background-color: #4259C2;
    color: white;
    padding: 12px 95px;
    display: inline-block;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    border-radius: 21px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.6px;
    transition: all 0.2s;
    user-select: none;
    cursor: pointer;

    @include tablet {
        padding: 12px 70px;
        width: 100%;
        display: block;
    }

    &:hover {
        background-color: #5060d5;
    }

    &:active {
        background-color: #2B3793;
    }

    &--green {
        background-color: #11D542;

        &:hover {
            background-color: #11e443;
        }

        &:active {
            background-color: #0cb332;
        }
    }

    &--orange {
        background-color: #F59145;

        &:hover {
            background-color: #ffa547;
        }

        &:active {
            background-color: #e07c45;
        }
    }

    &--white {
        background-color: white;
        color: #2E384D;

        &:hover {
            background-color: #ebebeb;
        }

        &:active {
            background-color: #c8c8c8;
        }
    }

    &--secondary {
        border: 1px solid #8798AD;
        box-sizing: border-box;
        color: #8798AD;
        background-color: transparent;

        &:hover {
            border-color: #5060d5;
            color: #5060d5;
            background-color: transparent;
        }

        &:active, &.selected {
            border-color: #2B3793;
            color: #2B3793;
            background-color: transparent;
        }
        &.selected {
            border-width: 2px;
        }
    }

    &--stars {
        display: flex;
        flex-flow: row nowrap;
        text-align: left;

        .text {
            margin-right: auto;
            color: inherit;
        }

        .stars {
            width: 85px;
            display: flex;
            flex-flow: row nowrap;
            margin-right: 10px;
            margin-bottom: auto;
            flex-shrink: 0;
            margin-top: 7px;
            flex-grow: 0;

            span {
                display: block;
                background-image: url("../icons/star.svg");
                width: 15px;
                height: 15px;
                margin-right: 3px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    &.is-invalid {
        animation: buttonShake 0.45s;
    }
}
