form {
    width: 330px;
    max-width: 100%;

    .form-group {
        width: 100%;
        margin-bottom: 20px;
        position: relative;

        &.email:after {
            opacity: 0;
            transition: all 0.2s;
            top: 50%;
            right: 12px;
            transform: translateY(calc(-50% + 12.5px));
            content: '';
            display: block;
            width: 24px;
            position: absolute;
            height: 24px;
            background-image: url('../icons/alert.svg');
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            z-index: 5;
        }

        &:last-child {
            margin-bottom: 0;
        }

        label {
            display: block;
            margin-bottom: 10px;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 1.125px;
            text-transform: uppercase;
            color: #8798AD;
            font-weight: bold;
            transition: all 0.2s;
        }

        input:not([type=checkbox]) {
            font-weight: 500;
            width: 100%;
            box-sizing: border-box;
            border: 1px solid #DFDFE5;
            border-radius: 6px;
            font-size: 16px;
            color: #2E384D;
            padding: 10px 20px;
            line-height: 22px;
            position: relative;
            transition: all 0.2s;

            &::placeholder {
                color: #DFDFE5;
            }

            &:hover {
                border-color: #8798AD;
                &::placeholder {
                    color: #8798AD;
                }
            }

            &:focus, &:active {
                border-color: #4259C2;
            }
        }

        &.is-invalid {
            input:not([type=checkbox]) {
                border-color: #F5141F;

            }

            &.email:after {
                opacity: 1;
            }

            label {
                color: #F5141F;
            }

            .checkbox-container {
                color: #F5141F;

                a {
                    color: #F5141F;
                }

                .checkmark {
                    border-color: #F5141F;
                }
            }
        }

        .checkbox-container {
            display: block;
            position: relative;
            padding-left: 30px;
            font-weight: 600;
            margin-bottom: 0;
            cursor: pointer;
            user-select: none;
            font-size: 13px;
            line-height: 16px;
            text-transform: unset;
            color: #2E384D;
            transition: all 0.2s;

            a {
                transition: all 0.2s;
            }

            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;

                &:checked ~ .checkmark:after {
                    display: block;
                }
            }

            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 20px;
                width: 20px;
                border: 1px solid #4259C2;
                box-sizing: border-box;
                border-radius: 2px;
                transition: all 0.2s;

                &:after {
                    content: "";
                    position: absolute;
                    display: none;
                    left: 6px;
                    top: 2px;
                    transform: rotate(45deg);
                    width: 4px;
                    height: 8px;
                    border: solid #4259C2;
                    border-width: 0 3px 3px 0;
                }
            }
        }

        button {
            cursor: pointer;
            margin-top: 30px;
            border: none;
        }
    }
}