#results {
    .heading {
        font-weight: bold;
        font-size: 24px;
        line-height: 41px;
        color: #2E384D;
    }

    .score {
        font-weight: bold;
        font-size: 24px;
        line-height: 41px;
        color: #4259C2;
        margin-bottom: 30px;

        span {
            color: #4259C2;
            font-size: 64px;
            line-height: 41px;
        }

        & + .heading {
            line-height: 41px;
            margin-bottom: 25px;
        }
    }

    .orange-badge {
        margin-bottom: 25px;
    }

    .subheading {
        font-size: 20px;
        line-height: 32px;
        text-align: center;
    }
}