#part-1-step-3 {

    .bullets-blue {
        margin-bottom: 20px;
    }

    .sides {
        display: flex;
        flex-flow: row nowrap;
        margin: 0 -10px 40px;

        .left {
            width: calc(50% - 1px / 2);
            .logo {
                width: 80px;
                height: 21px;
                margin: 6px auto 36px;
                background-image: url("../icons/logo.png");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        .right {
            margin-left: 15px;
            width: calc(50% - 1px / 2);

            p {
                margin-bottom: 31px;
                text-align: center;
                font-weight: bold;
                font-size: 16px;
                line-height: 32px;
            }
        }
    }
}