#email-page {
    .main {
        padding-top: 70px;

        @include tablet {
            padding-top: 0;
        }

        .wrapper {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            form {
                margin-top: 50px;

                .btn {
                    width: 100%;
                }

                @include tablet {
                    margin-top: 40px;
                }
            }
        }
    }
}