#loader {
    main .wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h1.heading {
        text-align: center;
        margin-bottom: 30px;
    }

    .loader {
        margin-bottom: 30px;
        height: 17px;
        background: #DADADA;
        border-radius: 8.5px;
        width: 100%;
        position: relative;
        overflow: hidden;

        &-progress {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            background-color: #4259C2;
            transition: all 0.04s;
        }

        &-percent {
            text-align: center;
            font-weight: bold;
            font-size: 36px;
            line-height: 32px;
        }
    }
}